@media (width>=1400px){
    html{
        font-size: 120%;
    }
}
@media (width<=700px){
    .app-container{
        width: 60vw;
        padding-inline: 0.7rem;
    }
    .weather-data{
        padding-inline: 1.5rem;
    }
    .other-params{
        flex-direction: column;
        gap: 1rem;
    }
    .light{
        font-size: 0.9rem;
    }
}
@media (width<=500px){
    .app-container{
        width: 80vw;
    }
    .light{
        font-size: 0.8rem;
    }
}
@media (width<=400px){
    .app-container{
        width: 90vw;
    }
}
